server:
  port: 8081

spring:
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
#    配置数据库连接
    url: jdbc:mysql://ip:3306/sid?serverTimezone=GMT%2B8&useSSL=false&allowPublicKeyRetrieval=true
    username: us
    password: ps
    hikari:
      max-lifetime: 60000
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
  servlet:
    multipart:
      max-file-size: 10000000
      max-request-size: 10000000

debug: true
mybatis-plus:
  configuration:
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  mapper-locations: classpath:/mapper/**.xml

file:
#  文件上传地址
  upload-path: G:\apache-tomcat-9.0.34-8093\webapps\download\
#  文件下载地址
  downloadPath: http://localhost:8093/download/
