<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cry.flutter.admin.mapper.ArticleMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cry.flutter.admin.entity.Article">
    <result column="id" property="id" />
        <result column="title" property="title" />
        <result column="title_sub" property="titleSub" />
        <result column="author" property="author" />
        <result column="status" property="status" />
        <result column="publish_time" property="publishTime" />
        <result column="order_by" property="orderBy" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="creater_id" property="createrId" />
        <result column="update_id" property="updateId" />
        <result column="file_url" property="fileUrl" />
    </resultMap>

</mapper>
